#!/usr/bin/make -f
# -*- makefile -*-

PKGNAME := rarcrack
PREFIX = /usr
CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp
    $(MAKE) CFLAGS=$(CFLAGS) LDFLAGS=$(LDFLAGS)

build-stamp: configure-stamp 
	dh_testdir
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -f debian/files
	-rm -rf debian/tmp
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	@mkdir -p $(CURDIR)/debian/tmp
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp PREFIX=$(PREFIX)

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_install --sourcedir=debian/tmp
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
